
.loader p {
  font-size: 16px;
  color: #777;
}
.loader .loader-inner {
  display: inline-block;
  width: 15px;
  border-radius: 15px;
  background: #74d2ba;
  margin: 0 2px;
}
.loader .loader-inner:nth-last-child(1) {
  -webkit-animation: loading 1.5s 1s infinite;
  animation: loading 1.5s 1s infinite;
}
.loader .loader-inner:nth-last-child(2) {
  -webkit-animation: loading 1.5s 0.5s infinite;
  animation: loading 1.5s 0.5s infinite;
}
.loader .loader-inner:nth-last-child(3) {
  -webkit-animation: loading 1.5s 0s infinite;
  animation: loading 1.5s 0s infinite;
}
img{
  max-width: 100%;
}

.price{
  font-size: 30px;
}